In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
df = pd.read_csv('/kaggle/input/hack-the-vibe/dataset/cleaned_train_data.csv')
test_df = pd.read_csv('/kaggle/input/hack-the-vibe/dataset/cleaned_test_data.csv')

In [9]:
df.head()

,var_1,var_2,var_3,var_4,var_5,var_7,var_8,var_9,var_10,var_12,...,var_5457,var_5458,var_5460,var_5461,var_5462,var_5463,var_5464,var_5466,var_5472,target
id,,,,,,,,,,,,,,,,,,,,,
id_1,0.015625,0.0,0.0,0.0,0.0,0.0,0.0,0.355422,0.106633,0.045097,...,0.012270,0.008547,0.016317,0.028822,0.020902,0.000000,0.034038,0.000000,0.010233,0
id_2,0.187500,0.0,0.0,0.0,0.0,0.0,0.0,0.150602,0.106633,0.045097,...,0.055215,0.145299,0.109557,0.028822,0.067114,0.049020,0.073684,0.062992,0.000000,0
id_3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.072058,0.109653,0.045097,...,0.079755,0.049357,0.065268,0.026316,0.020134,0.068627,0.034038,0.036745,0.008333,0
id_4,0.156250,0.0,0.0,0.0,0.0,0.0,0.0,0.018072,0.106633,0.045097,...,0.033637,0.049357,0.006993,0.028822,0.000000,0.029584,0.034038,0.000000,0.010233,0
id_5,0.046875,0.0,0.0,0.0,0.0,0.0,0.0,0.096386,0.106633,0.045097,...,0.042945,0.049357,0.055944,0.000000,0.020902,0.009804,0.034038,0.005249,0.010233,0

In [3]:
df.set_index('id', inplace=True)
test_df.set_index('id', inplace=True)

In [4]:
test_df.isnull().sum().sum()

0

In [5]:
np.isinf(test_df).sum().sum()

0

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('target', axis=1), df['target'], test_size=0.3, random_state=42)

In [8]:
import xgboost as xgb

In [9]:
# XGBoost Classifier
clf = xgb.XGBClassifier(n_estimators=100, max_depth=7, learning_rate=0.1, subsample=0.8, colsample_bytree=0.7, random_state=42)

# Training model on the training set
clf.fit(X_train, y_train)

# Evaluating the performance of model on the testing set
# score = clf.score(X_test, y_test)
y_pred = clf.predict(X_test)
y_prob = clf.predict_proba(X_test)[:,1]

from sklearn.metrics import roc_auc_score
print('AUC-ROC score:', roc_auc_score(y_test, y_prob))

AUC-ROC score: 0.7212512510051935

In [20]:
# clf.save_model('roc72.model')

In [10]:
X_train, y_train = df.drop('target', axis=1), df['target']

In [39]:
X_train

,var_1,var_2,var_3,var_4,var_5,var_7,var_8,var_9,var_10,var_12,...,var_5456,var_5457,var_5458,var_5460,var_5461,var_5462,var_5463,var_5464,var_5466,var_5472
id,,,,,,,,,,,,,,,,,,,,,
id_1,0.015625,0.0,0.0,0.0,0.0,0.0,0.0,0.355422,0.106633,0.045097,...,0.011905,0.012270,0.008547,0.016317,0.028822,0.020902,0.000000,0.034038,0.000000,0.010233
id_2,0.187500,0.0,0.0,0.0,0.0,0.0,0.0,0.150602,0.106633,0.045097,...,0.107143,0.055215,0.145299,0.109557,0.028822,0.067114,0.049020,0.073684,0.062992,0.000000
id_3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.072058,0.109653,0.045097,...,0.047619,0.079755,0.049357,0.065268,0.026316,0.020134,0.068627,0.034038,0.036745,0.008333
id_4,0.156250,0.0,0.0,0.0,0.0,0.0,0.0,0.018072,0.106633,0.045097,...,0.005952,0.033637,0.049357,0.006993,0.028822,0.000000,0.029584,0.034038,0.000000,0.010233
id_5,0.046875,0.0,0.0,0.0,0.0,0.0,0.0,0.096386,0.106633,0.045097,...,0.017857,0.042945,0.049357,0.055944,0.000000,0.020902,0.009804,0.034038,0.005249,0.010233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
id_24996,0.078125,0.0,0.0,0.0,0.0,0.0,0.0,0.018072,0.106633,0.045097,...,0.119048,0.067485,0.145299,0.144522,0.105263,0.087248,0.068627,0.073684,0.099738,0.033333
id_24997,0.078125,0.0,0.0,0.0,0.0,0.0,0.0,0.012048,0.106633,0.045097,...,0.005952,0.033637,0.049357,0.009324,0.028822,0.020902,0.029584,0.034038,0.025610,0.010233
id_24998,0.046875,0.0,0.0,0.0,0.0,0.0,0.0,0.036145,0.106633,0.045097,...,0.017857,0.024540,0.017094,0.034965,0.000000,0.006711,0.009804,0.000000,0.013123,0.010233
id_24999,0.125000,0.0,0.0,0.0,0.0,0.0,0.0,0.030120,0.106633,0.045097,...,0.047619,0.042945,0.017094,0.053613,0.039474,0.046980,0.058824,0.021053,0.055118,0.000000
id_25000,0.031250,0.0,0.0,0.0,0.0,0.0,0.0,0.180723,0.106633,0.045097,...,0.005952,0.000000,0.049357,0.011655,0.013158,0.020902,0.029584,0.034038,0.002625,0.010233

In [11]:
X_test = test_df

In [12]:
# XGBoost Classifier
clf = xgb.XGBClassifier(n_estimators=100, max_depth=5, learning_rate=0.1, subsample=0.8, colsample_bytree=0.8, random_state=42, gamma=0.5)

# Training model on the training set
clf.fit(X_train, y_train)

# Evaluating the performance of model on the testing set
# score = clf.score(X_test, y_test)
y_pred = clf.predict(X_test)
y_prob = clf.predict_proba(X_test)[:,1]

# from sklearn.metrics import roc_auc_score
# print('AUC-ROC score:', roc_auc_score(y_test, y_prob))

In [13]:
predicted_probability = clf.predict_proba(X_test)[:,1]

In [14]:
predicted = y_pred

In [15]:
np.round(predicted_probability,2)

array([0.4 , 0.06, 0.22, ..., 0.28, 0.02, 0.05], dtype=float32)

In [16]:
submission = pd.DataFrame({'predicted':predicted, 
                           'predicted_probability':np.round(predicted_probability,2)})
submission.set_index(test_df.index, inplace=True)
submission

         predicted  predicted_probability
id
id_1             0                   0.40
id_2             0                   0.06
id_3             0                   0.22
id_4             0                   0.15
id_5             0                   0.02
...            ...                    ...
id_4996          0                   0.29
id_4997          0                   0.13
id_4998          0                   0.28
id_4999          0                   0.02
id_5000          0                   0.05

[5000 rows x 2 columns]

In [17]:
# submission.to_csv('submission.csv')

array([0, 1])

In [28]:
class_distribution = pd.value_counts(submission['predicted'], normalize=True)
print(class_distribution)

0    0.9838
1    0.0162
Name: predicted, dtype: float64

In [ ]:
submission